ul li a {
    color: gray;
}

ul li :hover {
    color: #F44336;
}

.active {
    color: rgb(240, 6, 6);
}

div button:hover {
    background-color: #F4F6F6;
}

.volume-progress {
    width: 100px;
}

li {
    color: gray;
}